.dashContainer {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  background: #f9f7fa;
  padding: 5px 10px;
}

.dashCardContainer {
  display: flex;
  /* justify-content: center; */
  align-content: center;
  flex-direction: column;
  flex: 1;
  /* gap: 5px;
  width: 300px; */
  justify-content: space-evenly; /* or use "space-between" or "space-around" depending on your preference */
  align-content: flex-start;
}
